* {
    margin: 0;
    padding: 0;
}

body {
    background-color: lightgray;
}

#logo {
    background-color: transparent;
    width: 150px;
    height: 150px;
    z-index: 1000;
    position: absolute;
    top: 8px;
    left: 115px;
}

.nav2 {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.codeup-design-row {
    padding-top: 80px;
}

h1, .nav-link {
    font-family: 'Abel', sans-serif;
}

.vd-wd, h3, p {
    font-family: 'Anton', sans-serif;
}

.white-space {
    background-color: white;
    height: 80px;
    width: 100%;
    margin-top: 39px;
}

.red-circle {
    background: #E6563B;

}

.orange-circle {
    background-color: #DEA03D;
}

.green-circle {
    background-color: #7CB06C;
}

.blue-circle {
    background-color: #00ABA9;
}



.circle-div {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;

}

.circle {
    border: 8px solid white;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Anton', sans-serif;
    color: white;
    font-size: 1.5em;
}

.select {
    text-align: center;
    margin-top: 7em;
    font-family: 'Abel', sans-serif;
}

.foot-img img {
    height: 150px;
    width: 300px;
    margin-top: 3em;

}

.foot-img {
    text-align: center;

}

.foot-circle {
    display: flex;
    justify-content: space-around;



}

.foot-icons {
    display: flex;
    margin-right: 1em;
    margin-bottom: 2em;
}

.sm-circle {
    border-radius: 50%;
    height: 18px;
    width: 18px;
    margin: 5px;
    font-family: 'Anton', sans-serif;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.featured-project {
    margin-left: 1em;
    font-family: 'Abel', sans-serif;
    font-size: 12px;

}


@media screen and (min-width: 576px) {

    #logo {
        left: 285px;
    }

    .white-space {
        width: 100vh;
        display: flex;
    }

    .container {

    }


    .left-logo {

    }







}

