* {
    background-color: lightgray;
}
#logo {
    width: 105px;
    height: 105px;
}

h1, .nav-link {
    font-family: 'Abel', sans-serif;
}

.vd-wd, h3, p {
    font-family: 'Anton', sans-serif;
}

.red-circle {
    background: #E6563B;
    border: solid;
    border-color: white;
    border-width: thick;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 150px;
    height: 150px;
    width: 150px;
}

.red-circle-div {

    height: ;
    width: ;

}


