* {
    margin: 0;
    padding: 0;
}

body {
    background-color: lightgray;
}

#logo {
    background-color: transparent;
    width: 150px;
    height: 150px;
    z-index: 1000;
    position: absolute;
    top: 8px;
    left: 115px;
}

.nav2 {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.codeup-design-row {
    padding-top: 80px;
}

h1, .nav-link {
    font-family: 'Abel', sans-serif;
}

.vd-wd, h3, p {
    font-family: 'Anton', sans-serif;
}

.white-space {
    background-color: white;
    height: 80px;
    width: 100%;
    margin-top: 39px;
}

.red-circle {
    background: #E6563B;

}

.orange-circle {
    background-color: #DEA03D;
}

.green-circle {
    background-color: #7CB06C;
}

.blue-circle {
    background-color: #00ABA9;
}



.circle-div {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;

}

.circle {
    border: 8px solid white;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Anton', sans-serif;
    color: white;
    font-size: 1.5em;
}

.select {
    text-align: center;
    margin-top: 7em;
    font-family: 'Abel', sans-serif;
}

.foot-img img {
    height: 150px;
    width: 300px;
    margin-top: 3em;

}

.foot-img {
    text-align: center;

}

div.foot-circle {
    display: flex;
    justify-content: space-around;



}

.foot-icons {
    display: flex;
    margin-right: 1em;
    margin-bottom: 2em;
    padding-left: 46px;
    padding-right: 0;
}

.sm-circle {
    border-radius: 50%;
    height: 18px;
    width: 18px;
    margin: 5px;
    font-family: 'Anton', sans-serif;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.featured-project {
    margin-left: 1em;
    font-family: 'Abel', sans-serif;
    font-size: 12px;

}

hr {
    display: none;
}


@media screen and (min-width: 576px) {

    #logo {
        left: 285px;
    }

    .white-space {
        display: flex;
    }

    div.foot-img img {
        height: 125px;
        width: 200px;
        margin-top: 3em;

    }

    .circle {
        height: 115px;
        width: 115px;
        border: 5px solid white;
    }

    .circle-div {
        display: grid;
        grid-template-columns: 5% 1fr 1fr 1fr 1fr 5%;
        grid-template-rows: 1fr;
    }

    .red-circle {
        grid-area: 1 / 2 / 2 / 3;
    }

    .orange-circle {
        grid-area: 1 / 3 / 2 / 4;
    }

    hr {
        display: block;
        border: 1px solid darkgray;
        width: 450px;

    }

    .line {
        display: flex;
        justify-content: center;
    }
    .container {

    }

    .blue-circle {
        grid-area: 1 / 5 / 2 / 6;
    }

    .green-circle {
        grid-area: 1 / 4 / 2 / 5;
    }

    .left-logo {

    }

    .codeup-design-row {
        padding: 2em;
        padding-bottom: 0;
    }

    .select {
        margin-top: 1em;
    }

    .foot-icons {
        padding-left: 0;
    }
}

@media screen and (min-width: 768px) {
    hr {
        width: 90%;
    }

    .circle {
        width: 100px;
        height: 100px;
    }

    .red-circle {


    }

    .orange-circle {

    }

    .green-circle {

    }
    .blue-circle {


    }

    .circle-div {
        grid-template-columns: 15% 1fr 1fr 1fr 1fr 15%;
        grid-template-rows: 1fr;
    }

    .nav2 {
        display: flex;
        justify-content: flex-end;

    }
    .main-nav {
        background-color: white;
        width: 100%;
        margin-top: 42px;
    }

    .container {
        width: 100%;
    }

}

nav, .main-nav1 {
    background-color: white;
    height: 75px;
    align-items: center;
    justify-content: flex-end;
    margin-top: 50px;

}

.main-nav1 a {
    color: #3b4248;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Abel', sans-serif;
    font-weight: lighter;

}

.codeup-design {
    font-family: 'Abel', sans-serif;
    padding-right: 85px;

}

.codeup-design-row {
    display: none;
}

.logo-row {
    display: none;
}

.vd-wd {
    margin-top: 30px;
}

.select {
    display: flex;
    justify-content: flex-start;
    padding-left: 80px;
    padding-top: 20px;
}

.foot-img1 {
    padding-top: 0px;
}

#logo {
    top: 20px;
    left: 10px
}

